<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="scrollNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#top" class="nav-link page-scroll">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#snippets" class="nav-link page-scroll">TOOLS AND LANGUAGES</a>
                </li>
                <li class="nav-item">
                    <a href="#knowMe" class="nav-link page-scroll">GET TO KNOW ME</a>
                </li>
                <li class="nav-item">
                    <a href="#findMe" class="nav-link page-scroll">FIND ME</a>
                </li>
            </ul>
        </div>
    </div>
</nav>