<span id="snippets"></span>
<div id="snippetsDiv" class="container-fluid text-center">
    <!-- <h2 class="lightHeading topic">Tools &amp; Languages</h2> -->
    <div class="row slideanim slide" style="padding-top:2em;padding-bottom:2em;">
        <div class="backdrop">
            <span id="main-header">
                godfathr
            </span>
            <p class="lead">
                Full stack .NET web development for enterprise solutions, ecommerce and personal portfolios.
            </p>
        </div>
    </div>

    <span id="knowMe"></span>
    <div class="row">
        <div class="backdrop">
            <div class="col-md-12">
                <h2>
                    <span class="material-icons">
                        military_tech
                    </span>
                    Featured work
                    <span class="material-icons">
                        military_tech
                    </span>
                    <hr />
                </h2>

                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                        <h3>Thumbnail Creator Core</h3>
                        <!-- <p class="fst-italic">.NET Standard 2.0</p> -->
                        <p>
                            <a href="https://www.nuget.org/packages/ImageThumbnailCreator.Core/" target="_blank">
                                <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator.core/1.1.3/icon" alt="thumbnail" height="100" async />
                            </a>
                        </p>
                        <p style="overflow-wrap: break-word;">
                            <a class="btn btn-dark" href="https://www.nuget.org/packages/ImageThumbnailCreator.Core/" target="_blank">
                                View
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <h3>MM Bootstrap Themes</h3>
                        <!-- <p class="fst-italic">SASS, PowerShell, XUnit, .Net Core Razor Pages</p> -->
                        <p>
                            <a href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">
                                <img src="https://git-scm.com/images/logo@2x.png" alt="TPP" height="100" style="background-color:white;" async />
                            </a>
                        </p>
                        <p style="overflow-wrap: break-word;">
                            <a class="btn btn-dark" href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">
                                View
                            </a>
                        </p>
                    </div>
                    <!-- </div>
                            <div class="row"> -->
                    <div class="col-lg-6 col-xl-3">
                        <h3>Pandora Dark Theme (Chrome)</h3>
                        <!-- <p class="fst-italic">CSS, XML</p> -->
                        <p>
                            <a href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                <img src="../../../assets/images/p-css-2021-128.png" alt="pandora dark mode" height="100" async />
                            </a>
                        </p>
                        <p style="overflow-wrap: break-word;">
                            <a class="btn btn-dark" href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                View
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <h3>Thumbnail Creator</h3>
                        <!-- <p class="fst-italic">.NET Framework 4.8</p> -->
                        <p>
                            <a href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator/2.0.1/icon" alt="thumbnail" height="100" async />
                            </a>
                        </p>
                        <p style="overflow-wrap: break-word;">
                            <a class="btn btn-dark" href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                View
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row row-alt">
                <div class="col-md-12 text-left">
                    <h2>
                        <span class="material-icons">
                            construction
                        </span>
                        Tools of my trade
                        <span class="material-icons">
                            construction
                        </span>
                        <hr />
                    </h2>
                    <div class=row>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <dl>
                                <dt>
                                    <h4>Frameworks</h4>
                                </dt>
                                <dd>
                                    .NET Core &amp; ASP.NET
                                </dd>
                                <dd>
                                    Web API
                                </dd>
                                <dd>
                                    Selenium
                                </dd>
                                <dd>
                                    Entity Framework
                                </dd>
                                <dd>
                                    jQuery
                                </dd>
                                <dd>
                                    MS SQL &amp; SSRS
                                </dd>
                                <dd>
                                    Angular
                                </dd>
                                <dd>xUnit</dd>
                                <dd>MSTest</dd>
                                <dd>Jest</dd>
                                <dd>Jasmine</dd>
                            </dl>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <dl>
                                <dt>
                                    <h4>Platforms &amp; Development Software</h4>
                                </dt>
                                <dd>
                                    Visual Studio
                                </dd>
                                <dd>
                                    Visual Studio Code
                                </dd>
                                <dd>
                                    SSMS
                                </dd>
                                <dd>
                                    MS Azure
                                </dd>
                                <dd>
                                    Sitecore
                                </dd>
                                <dd>
                                    Postman
                                </dd>
                                <dd>
                                    Soap UI
                                </dd>
                                <dd>
                                    Swagger
                                </dd>
                                <dd>
                                    Photoshop
                                </dd>
                            </dl>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <dl>
                                <dt>
                                    <h4>Languages</h4>
                                </dt>
                                <dd>
                                    C#
                                </dd>
                                <dd>
                                    HTML &amp; CSS
                                </dd>
                                <dd>SCSS</dd>
                                <dd>
                                    TypeScript
                                </dd>
                                <dd>
                                    T-SQL
                                </dd>
                                <dd>
                                    JavaScript
                                </dd>
                                <dd>
                                    PowerShell
                                </dd>
                            </dl>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <dl>
                                <dt>
                                    <h4>Source Control</h4>
                                </dt>
                                <dd>
                                    Azure DevOps Git and TFS
                                </dd>
                                <dd>
                                    Git &amp; Github
                                </dd>
                                <dd>
                                    Tortoise SVN
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-primary">
                <div class="col-md-12 text-left">
                    <h2>TL;DR
                        <hr />
                    </h2>
                    <h3 (click)="togglePassion()" class="interactive-element">
                        But really...
                        <span class="material-icons button-icon" *ngIf="!displayPassion">
                            expand_more
                        </span>
                        <span class="material-icons button-icon" *ngIf="displayPassion">
                            expand_less
                        </span>
                    </h3>
                    <p *ngIf="displayPassion">
                        My passion lies in back end development and creating microservices.
                    </p>
                    <p *ngIf="displayPassion"> I also enjoy creating custom eye catching and intuitive user interfaces. I prefer using
                        Angular for UI development with Bootstrap and Material design to insure responsive and accessible front-ends.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3 (click)="toggleResponsive()" class="interactive-element">
                        Responsive design
                        <span class="material-icons button-icon" *ngIf="!displayResponsive">
                            expand_more
                        </span>
                        <span class="material-icons button-icon" *ngIf="displayResponsive">
                            expand_less
                        </span>
                    </h3>
                    <p *ngIf="displayResponsive">
                        <a href="https://www.oberlo.com/statistics/mobile-internet-traffic" class="white-text" target="_blank">
                            In 2017, over 50% of the use of the web was from mobile devices.
                        </a>
                        It is my firm position that non-responsive applications are the mark of a lazy developer.
                    </p>
                    <p *ngIf="displayResponsive">
                        <a href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">I use Bootstrap or create custom responsive frameworks for my UI work.</a>
                        While in the enterprise world, I understand that are justifications for
                        non-responsive sites in large enterprise
                        applications, however, I see this need as a dying flame.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3 (click)="toggleSecurity()" class="interactive-element">
                        I've got your back
                        <span class="material-icons button-icon" *ngIf="!displaySecurity">
                            expand_more
                        </span>
                        <span class="material-icons button-icon" *ngIf="displaySecurity">
                            expand_less
                        </span>
                    </h3>
                    <p *ngIf="displaySecurity">
                        I never treat application security as an afterthought. I always place a very large emphasis on keeping data safe.
                    </p>
                    <p *ngIf="displaySecurity">
                        I use security
                        frameworks that are mature and have been tested over time.
                        For authentication and authorizaion, I most enjoy using the .NET Identity Framework as it is versatile, supports
                        Single Sign On and is extensible and customizable.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3 (click)="toggleVariety()" class="interactive-element">
                        Variety is the spice of life
                        <span class="material-icons button-icon" *ngIf="!displaySecurity">
                            expand_more
                        </span>
                        <span class="material-icons button-icon" *ngIf="displaySecurity">
                            expand_less
                        </span>
                    </h3>
                    <p *ngIf="displayVariety">
                        My dream job is working for a company that provides educational services.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3 (click)="toggleDream()" class="interactive-element">
                        Dream big
                        <span class="material-icons button-icon" *ngIf="!displayDream">
                            expand_more
                        </span>
                        <span class="material-icons button-icon" *ngIf="displayDream">
                            expand_less
                        </span>
                    </h3>
                    <p *ngIf="displayDream">
                        If I never had to work another day in my life, I'd spend my time as a perpetual student. I would write web
                        applications to enable sharing research for scientists and mathematicians. We open source code, why not all other technical knowledge!?
                    </p>
                    <p *ngIf="displayDream">
                        I'd also like to create a social network where veterans can interact and keep their stories for posterity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- END Fluid Container-->