<span id="snippets"></span>
<div id="snippetsDiv" class="container-fluid text-center">
    <div class="container">
        <!-- <h2 class="lightHeading topic">Tools &amp; Languages</h2> -->
        <div class="row slideanim slide" style="padding-top:2em;padding-bottom:2em;">
            <div class="backdrop">
                <span id="main-header">
                    godfathr
                </span>
                <p id="header-subtitle">
                    Full stack .NET web development for enterprise solutions, ecommerce and personal portfolios.
                </p>
                <!-- <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">ASP.NET</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">.NET Core</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">Web API</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">C#</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">SQL/SSRS</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">Selenium</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">jQuery</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">JavaScript</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">Angular</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">TypeScript</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">PHP</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 topicContainer">
                    <h3 class="topic">PowerShell</h3>
                </div> -->
                <!--<div class="col-md-12">
                        <h2 ><a href="/tutorials/" >See All <span class="glyphicon glyphicon-arrow-right"></span></a></h3>
                    </div>-->
            </div>
        </div>
    </div><!-- END Container-->
</div><!-- END Fluid Container-->