<span id="snippets"></span>
<div id="snippetsDiv" class="container-fluid text-center">
    <div class="container">
        <div class="row">
            <!-- <h2 class="lightHeading">Snippets, Tutorials and Lessons Learned</h2> -->
            <h2 class="lightHeading">Tools & Languages</h2>
            <hr />

            <div class="row slideanim slide">
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">ASP.NET</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">.NET Core</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">Web API</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">C#</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">jQuery</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">JavaScript</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">SQL/SSRS</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">PHP</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">Angular</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">Typescript</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">Powershell</h3>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 topicContainer">
                    <h3 class="topic">Selenium</h3>
                </div>
                <!--<div class="col-md-12">
                        <h2 ><a href="/tutorials/" >See All <span class="glyphicon glyphicon-arrow-right"></span></a></h3>
                    </div>-->
            </div>
        </div>
    </div><!-- END Container-->
</div><!-- END Fluid Container-->