<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0 text-uppercase">godfathr</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Featured Work</a>
          <a class="nav-link" href="#">Tools & Experience</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Find Me</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1 class="text-uppercase">godfathr</h1>
      <p class="lead">
        Full stack .NET web development for enterprise solutions, ecommerce and personal portfolios.
      </p>
      <p class="lead">
        <img src="https://avatars.githubusercontent.com/u/17180852?v=4" style="border-radius: 50%;" />
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <p>https://github.com/godfathr &copy; 2022</p>
    </footer>
  </div>