<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0 text-uppercase">godfathr</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/" routerLinkActive="active">
            Home
          </a>
          <a class="nav-link" routerLink="/intro" routerLinkActive="active">
            Intro
          </a>
          <a class="nav-link" routerLink="/featured" routerLinkActive="active">
            Featured Work
          </a>
          <a class="nav-link" routerLink="/experience" routerLinkActive="active">
            Tools & Experience
          </a>
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            About
          </a>
          <a class="nav-link" routerLink="/find-me" routerLinkActive="active">
            Find Me
          </a>
        </nav>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="mt-auto text-white-50">
      <p>https://github.com/godfathr &copy; 2022</p>
    </footer>
  </div>