<div class="row">
    <div class="col-md-12 mb-4">
        <a href="https://www.nuget.org/packages/ImageThumbnailCreator.Core/" class="no-hover" target="_blank">
            <p class="lead text-light">
                Thumbnail Creator Core
            </p>
            <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator.core/1.1.3/icon" alt="thumbnail" height="100" async />
        </a>
    </div>
    <div class="col-md-12 mb-4">
        <a href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" class="no-hover" target="_blank">
            <p class="lead text-light">
                MM Bootstrap Themes
            </p>
            <img src="https://git-scm.com/images/logo@2x.png" alt="TPP" height="100" style="background-color:white;" async />
        </a>
    </div>
    <div class="col-md-12 mb-4">
        <a href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" class="no-hover" target="_blank">
            <p class="lead text-light">
                Pandora Dark Theme
            </p>
            <img src="../../../assets/images/p-css-2021-128.png" alt="pandora dark mode" height="100" async />
        </a>
    </div>
    <div class="col-md-12 mb-4">
        <a href="https://www.nuget.org/packages/ImageThumbnailCreator/" class="no-hover" target="_blank">
            <p class="lead text-light">
                Thumbnail Creator .NET
            </p>
            <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator.core/1.1.3/icon" alt="thumbnail" height="100" async />
        </a>
    </div>
</div>