<div class="row">
    <div class="col-md-12 mb-5">
        <a href='https://github.com/godfathr' class="no-hover text-light" target="_blank">
            <h2>
                Github
            </h2>
            <img src="./../../assets/images/GitHub-Mark-Light-120px-plus.png" height="120" alt="Profile for godfathr at Github" title="Profile for godfathr at Github" />
        </a>
    </div>
    <div class="col-md-12 mb-5">
        <a href="http://stackoverflow.com/users/7109850/godfathr" class="no-hover text-light" target="_blank">
            <h2>Stack Overflow</h2>
            <img src="./../../assets/images/768px-Stack_Overflow_icon.png" width="120" alt="Profile for godfathr at Stack Overflow" title="Profile for godfathr at Stack Overflow" />
        </a>
    </div>
    <div class="col-md-12 mb-5">
        <a href="https://www.linkedin.com/in/mikalgrant/" class="no-hover text-light" target="_blank">
            <h2>LinkedIn</h2>
            <img src="./../../assets/images/linkedin-logo-3.png" width="120" alt="View profile on LinkedIn" title="View profile on LinkedIn" />
        </a>
    </div>
</div>



<!-- <ng-container *ngIf="response"> -->
<!--need to only display the interpolation elements below when we have a response. otherwise, we will get an error in the browser console stating it can't find a property of 'undefined' since there is no response object until we click the button-->
<!--<div class="row">
    <div class="col-md-12 text-center">
        <a href='{{ response.html_url }}' target="_blank">
                <figure>
                    <img src="{{ response.avatar_url }}" alt="avatar" aria-hidden="true" class="githubMainAvatar" />
                    <figcaption class="white-text">{{response.login}}</figcaption>
                </figure>
            </a>
        <a class="btn btn-dark btn-lg mr-1 text-sm-center me-3 mb-3" href='https://github.com/godfathr?tab=repositories' target="_blank">
            Github Repositories
        </a>
    </div> -->
<!-- <h2>Followers: ({{response.followers}})</h2> -->
<!-- <ng-container *ngIf="followers">
            <ng-container *ngFor="let follower of followers">
                <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                    <a href="{{ follower.html_url }}" target="_blank"><img src="{{ follower.avatar_url }}" alt="{{ follower.login }}" class="secondaryAvatar" />
                    </a>
                    <p>
                        <a href="{{ follower.html_url }}" class="white-text bold-text" target="_blank">{{ follower.login}}</a>
                    </p>
                </div>
            </ng-container>
        </ng-container> 
</div>-->
<!-- </ng-container> -->