<div id="page-content">
    <div class="intro">
        <div class="my-face">

        </div>

    </div>
    <div class="hello-content">

    </div>
</div>

<!-- <div id="top" class="jumbotron">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="text-center">
                    <h1 id="homeHeading">Godfathr Development</h1>
                    <p>Full stack ASP.NET web development for business tools, ecommerce and personal portfolios.
                    </p>

                </div>
            </div>
        </div>
    </header>
</div> -->