<div id="page-content">
    <div class="content content-transparent intro">
        <div class="my-face"></div>
        <div class="page-heading">
            <h1>Godfathr Development</h1>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor sapiente consequatur omnis facilis ex aliquid iste asperiores libero aspernatur voluptatem assumenda eveniet temporibus iusto dignissimos, possimus earum quasi sunt.</p>
    </div>
    <div class="content content-light">
        <h2>Hello</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor sapiente consequatur omnis facilis ex aliquid iste asperiores libero aspernatur voluptatem assumenda eveniet temporibus iusto dignissimos, possimus earum quasi sunt.</p>
    </div>
    <div class="content content-transparent">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor sapiente consequatur omnis facilis ex aliquid iste asperiores libero aspernatur voluptatem assumenda eveniet temporibus iusto dignissimos, possimus earum quasi sunt.</p>
    </div>
    <div class="content content-light">
        <h2>Find Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor sapiente consequatur omnis facilis ex aliquid iste asperiores libero aspernatur voluptatem assumenda eveniet temporibus iusto dignissimos, possimus earum quasi sunt.</p>
    </div>
</div>

<!-- <div id="top" class="jumbotron">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="text-center">
                    <h1 id="homeHeading">Godfathr Development</h1>
                    <p>Full stack ASP.NET web development for business tools, ecommerce and personal portfolios.
                    </p>

                </div>
            </div>
        </div>
    </header>
</div> -->