@import "./styles-colors.scss";

body, html, *{
  color: white;
  font-size:14px;
  font-family: 'Arial', sans-serif;
  margin: 4rem auto 4rem auto;
  width: 80%;
  background-color: $color-primary-5;
  min-height: 300px; // for development only
}

*, *:before, *:after {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

p {
  font-weight: normal;
}

.content-wrapper{
  // background-color:#19417D;
  background-color: $color-primary-1;
  margin: 0 auto;
  width: 80%;
}

/*font stuff*/
.lower-case{
  text-transform: lowercase;
}

.upper-case{
  text-transform: uppercase;
}

.page-title{
  display:inline;
  width:100%;
}


/*new-design mobile styles*/
@media screen and (max-width:999px) {
  #page-content {
    width: 70%;
  }
}

@media screen and (max-width:550px) {
  #page-content {
    width: 60%;
  }
}