html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 16px;
}

p {
  font-weight: normal;
}

.container-content {
  background-color: #4e5d6c;
}

.jumbotron {
  background-color: #2e5797;
  color: white;
  margin-bottom: 0;
  padding: 2em 0;
}

.row-alt {
  background-color: transparent;
  color: #ffffff;
}

.row-primary,
.row-alt {
  padding: 2rem 0;
}

h2 {
  padding: 1rem 0;
}

.glyphicon-heading {
  font-size: 3em;
}

// #cSharp {
//   height: 160px;
//   width: 160px;
//   background-color: transparent;
//   /*background-color: #4E5D6C;*/
//   text-align: right;
//   vertical-align: bottom;
//   font-size: 150px;
//   line-height: 150px;
//   font-family: Calibri;
//   font-weight: bold;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   border: 3px solid white;
// }

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.topic {
  transition: ease all 0.3s;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.topic:hover,
.topic:active {
  /*transform: scale(1.15);*/
  box-shadow: 0px 0px 10px white;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.topicContainer {
  margin-bottom: 1rem;
}

.topicContainer h3 {
  height: 3rem;
  // width: 3rem;
  // border-radius:50%;
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 2.9rem;
  font-family: Calibri;
  font-weight: bold;
  display: block;
  border: 2px solid white;
}

.contentAltBlueBackground {
  background-color: #0B2F63;
}

.contentAltWhiteBackground {
  background-color: #ffffff;
}

#snippetsDiv,
#findMeDiv {
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#snippetsDiv {
  background-image: url('assets/images/canstockphoto24502868.jpg');
}

#findMeDiv {
  background-image: url('assets/images/canstockphoto615505.jpg');
}

/*#findMe .topicContainer {
        border: 2px solid white;
    }*/

.lightHeading {
  color: white;
  stroke: 2px #000;
}

// .panel {
//   border: 2px solid white;
// }

/*HOME PAGE INTERACTIVES*/
.githubMainAvatar {
  margin: 15px;
  border: 1px solid black;
}

.githubMainAvatar:hover {
  transform: rotate(-2deg);
  transition: ease all 0.8s;
}

.secondaryAvatar {
  width: 75px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.secondaryAvatar:hover {
  transform: rotate(-2deg);
  transition: ease all 0.8s;
}

.panel {
  box-shadow: none !important;
}

.button-icon {
  line-height: 1rem;
  font-size: 1rem;
}



.backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  height: 100%;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: white;
  display: block;
  margin-bottom: 1rem;
}

.white-text{
  color:white;
}
.white-text:hover{
  color:rgba(255,255,255,0.8);
}

.bold-text{
  font-weight: bold;
}

.interactive-element:hover{
  cursor: pointer;
}