<div class="row">
    <div class="col-md-6 col-lg-3">
        <dl>
            <dt>
                <h3>Frameworks</h3>
            </dt>
            <dd>.NET Core &amp; ASP.NET</dd>
            <dd>Web API</dd>
            <dd>Selenium</dd>
            <dd>Entity Framework</dd>
            <dd>jQuery</dd>
            <dd>MS SQL &amp; SSRS</dd>
            <dd>Angular</dd>
            <dd>xUnit</dd>
            <dd>MSTest</dd>
            <dd>Jest</dd>
            <dd>Jasmine</dd>
        </dl>
    </div>
    <div class="col-md-6 col-lg-3">
        <dl>
            <dt>
                <h3>Platforms</h3>
            </dt>
            <dd>Visual Studio</dd>
            <dd>Visual Studio Code</dd>
            <dd>SSMS</dd>
            <dd>MS Azure</dd>
            <dd>Sitecore</dd>
            <dd>Postman</dd>
            <dd>Soap UI</dd>
            <dd>Swagger</dd>
            <dd>Photoshop</dd>
        </dl>
    </div>
    <div class="col-md-6 col-lg-3">
        <dl>
            <dt>
                <h3>Languages</h3>
            </dt>
            <dd>C#</dd>
            <dd>HTML &amp; CSS</dd>
            <dd>SCSS</dd>
            <dd>TypeScript</dd>
            <dd>T-SQL</dd>
            <dd>JavaScript</dd>
            <dd>PowerShell</dd>
        </dl>
    </div>
    <div class="col-md-6 col-lg-3">
        <dl>
            <dt>
                <h3>Source Control</h3>
            </dt>
            <dd>Azure DevOps Git and TFS</dd>
            <dd>Git &amp; Github</dd>
            <dd>Tortoise SVN</dd>
        </dl>
    </div>
</div>