<span id="findMe"></span>
<div id="findMeDiv" class="container-fluid text-center" style="padding-top:1rem;">
    <div class="row">
        <div class="backdrop">
            <!-- <h2 class="lightHeading">Find Me</h2> -->
            <div class="col-md-12 topicContainer">
                <h2>Github</h2>
                <ng-container *ngIf="response">
                    <!--need to only display the interpolation elements below when we have a response. otherwise, we will get an error in the browser console stating it can't find a property of 'undefined' since there is no response object until we click the button-->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href='{{ response.html_url }}' target="_blank">
                                <figure>
                                    <img src="{{ response.avatar_url }}" alt="avatar" aria-hidden="true" class="githubMainAvatar" />
                                    <figcaption class="white-text">{{response.login}}</figcaption>
                                </figure>
                            </a>

                            <a class="btn btn-dark btn-lg me-3 mb-3 text-sm-center" href='https://github.com/godfathr' target="_blank">
                                Github Profile
                                <i class="material-icons" style="font-size:1rem;">
                                    open_in_new
                                </i>
                            </a>
                            <a class="btn btn-dark btn-lg mr-1 text-sm-center me-3 mb-3" href='https://github.com/godfathr?tab=repositories' target="_blank">
                                Github Repositories
                                <i class="material-icons" style="font-size:1rem;">
                                    open_in_new
                                </i>
                            </a>
                        </div>
                        <h2>Followers: ({{response.followers}})</h2>
                        <ng-container *ngIf="followers">
                            <ng-container *ngFor="let follower of followers">
                                <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                                    <a href="{{ follower.html_url }}" target="_blank"><img src="{{ follower.avatar_url }}" alt="{{ follower.login }}" class="secondaryAvatar" />
                                    </a>
                                    <p>
                                        <a href="{{ follower.html_url }}" class="white-text bold-text" target="_blank">{{ follower.login}}</a>
                                    </p>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="col-md-12">
                        <div class="card-title">
                            <h4>Stack Overflow</h4>
                        </div>
                        <a href="http://stackoverflow.com/users/7109850/godfathr" target="_blank">
                            <img src="http://stackoverflow.com/users/flair/7109850.png?theme=dark" width="208" height="58" alt="profile for godfathr at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for godfathr at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                        </a>
                        <div class="card-title">
                            <h4>LinkedIn</h4>
                        </div>
                        <a href="https://www.linkedin.com/in/mikalgrant/" target="_blank">
                            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" alt="View Mikal Grant's profile on LinkedIn">
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div><!-- END Container-->