<span id="knowMe"></span>
<div class="knowMeContent container-fluid text-center  contentAltWhiteBackground">
    <div class="row">
        <div class="container">
            <div class="row row-primary">
                <div class="col-md-12">
                    <h2>
                        <span class="material-icons">
                            military_tech
                        </span>
                        Featured work
                        <span class="material-icons">
                            military_tech
                        </span>
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <h5>Thumbnail Creator Core</h5>
                            <p class="fst-italic">.NET Standard 2.0</p>
                            <p>
                                <a href="https://www.nuget.org/packages/ImageThumbnailCreator.Core/" target="_blank">
                                    <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator.core/1.1.3/icon" alt="thumbnail" height="100" async />
                                </a>
                            </p>
                            <p style="overflow-wrap: break-word;">
                                <a class="btn btn-dark" href="https://www.nuget.org/packages/ImageThumbnailCreator.Core/" target="_blank">
                                    View on Nuget.org
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <h5>MM Bootstrap Themes</h5>
                            <p class="fst-italic">SASS, PowerShell, XUnit, .Net Core Razor Pages</p>
                            <p>
                                <a href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">
                                    <img src="https://git-scm.com/images/logo@2x.png" alt="TPP" height="100" async />
                                </a>
                            </p>
                            <p style="overflow-wrap: break-word;">
                                <a class="btn btn-dark" href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">
                                    View Source Repository
                                </a>
                            </p>
                        </div>
                    <!-- </div>
                    <div class="row"> -->
                        <div class="col-md-6 col-lg-3">
                            <h5>Pandora Dark Theme (Chrome)</h5>
                            <p class="fst-italic">CSS, XML</p>
                            <p>
                                <a href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                    <img src="../../../assets/images/p-css-2021-128.png" alt="pandora dark mode" height="100" async />
                                </a>
                            </p>
                            <p style="overflow-wrap: break-word;">
                                <a class="btn btn-dark" href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                    View in Chrome Webstore
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <h5>Thumbnail Creator</h5>
                            <p class="fst-italic">.NET Framework 4.8</p>
                            <p>
                                <a href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                    <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator/2.0.1/icon" alt="thumbnail" height="100" async />
                                </a>
                            </p>
                            <p style="overflow-wrap: break-word;">
                                <a class="btn btn-dark" href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                    View on Nuget.org
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-alt">
                <div class="col-md-12 text-left">
                    <h3>
                        <span class="material-icons">
                            construction
                        </span>
                        Tools of my trade
                        <span class="material-icons">
                            construction
                        </span>
                    </h3>
                    <div class=row>
                        <div class="col-sm-12 col-md-3">
                            <dl>
                                <dt>
                                    Frameworks
                                </dt>
                                <dd>
                                    .NET Core &amp; ASP.NET
                                </dd>
                                <dd>
                                    Web API
                                </dd>
                                <dd>
                                    Selenium
                                </dd>
                                <dd>
                                    Entity Framework
                                </dd>
                                <dd>
                                    jQuery
                                </dd>
                                <dd>
                                    MS SQL &amp; SSRS
                                </dd>
                                <dd>
                                    Angular
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <dl>
                                <dt>
                                    Languages
                                </dt>
                                <dd>
                                    C#
                                </dd>
                                <dd>
                                    HTML &amp; CSS
                                </dd>
                                <dd>
                                    TypeScript
                                </dd>
                                <dd>
                                    T-SQL
                                </dd>
                                <dd>
                                    JavaScript
                                </dd>
                                <dd>
                                    PowerShell
                                </dd>
                                <dd>
                                    PHP
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <dl>
                                <dt>
                                    Platforms &amp; Development Software
                                </dt>
                                <dd>
                                    Visual Studio
                                </dd>
                                <dd>
                                    Visual Studio Code
                                </dd>
                                <dd>
                                    SSMS
                                </dd>
                                <dd>
                                    MS Azure
                                </dd>
                                <dd>
                                    Sitecore
                                </dd>
                                <dd>
                                    Postman
                                </dd>
                                <dd>
                                    Soap UI
                                </dd>
                                <dd>
                                    Swagger
                                </dd>
                                <dd>
                                    Photoshop
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <dl>
                                <dt>
                                    Source Control
                                </dt>
                                <dd>
                                    Azure DevOps Git and TFS
                                </dd>
                                <dd>
                                    Git &amp; Github
                                </dd>
                                <dd>
                                    Tortoise SVN
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-primary">
                <div class="col-md-12 text-left">
                    <h3>
                        But really...
                    </h3>
                    <p>
                        My passion lies in back end development and reaches into the front end where I
                        enjoy creating custom eye catching and intuitive user interfaces.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3>
                        Mobility is key
                    </h3>
                    <p>
                        <a href="https://www.oberlo.com/statistics/mobile-internet-traffic" target="_blank">
                            In 2017, over 50% of the use of the web was from mobile devices.
                        </a>
                        It is my firm position that non-responsive applications are the mark of a lazy
                        developer.
                    </p>
                    <p>
                        <a href="https://godfathr.visualstudio.com/_git/MMBootstrapThemes" target="_blank">I bootstrap or create custom responsive frameworks for my work.</a>
                        While in the enterprise world, I understand that are justifications for
                        non-responsive sites in large enterprise
                        applications, however, I see this need as a dying flame.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3>
                        I've got your back
                    </h3>
                    <p>
                        I never treat application security as an afterthought. I always place a very large emphasis on keeping data safe.
                    </p>
                    <p>
                        I use security
                        frameworks that are mature and have been tested over time.
                        I most enjoy using the .NET Identity Framework as it is versatile, supports
                        Single Sign On and is extensible and customizable.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3>
                        Variety is the spice of life
                    </h3>
                    <p>
                        My dream job is working for a company that provides educational services.
                    </p>
                </div>
                <div class="col-md-12 text-left">
                    <h3>
                        <!-- <span class="material-icons" style="color: #2e5797; font-size: 2rem;">
                            visibility
                        </span> -->
                        Dream big
                    </h3>
                    <p>
                        If I never had to work another day in my life, I'd spend my time as a perpetual student, writing web
                        applications to enable sharing research for research scientists and mathematicians. We
                        open source code,
                        why not all other technical knowledge!?
                    </p>
                    <p>
                        I'd also like to create a social network exclusivley where veterans can
                        interact and keep their stories for posterity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>