<span id="knowMe"></span>
<div class="container-fluid text-center contentAlt">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:white">Get to Know Me</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-sunglasses"></span> Featured work</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Timeless Present Photography</h4>
                                    <p>
                                        <a href="https://www.timelesspresentphotos.com" target="_blank">
                                            timelesspresentphotos.com
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.timelesspresentphotos.com" target="_blank">
                                            <img src="https://www.timelesspresentphotos.com/Content/images/logo%20black%20300.png" alt="TPP" async />
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h4>Thumbnail Creator NuGet Package</h4>
                                    <p>
                                        <a href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                            https://www.nuget.org/packages/ImageThumbnailCreator/
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.nuget.org/packages/ImageThumbnailCreator/" target="_blank">
                                            <img src="https://api.nuget.org/v3-flatcontainer/imagethumbnailcreator/2.0.1/icon" alt="thumbnail" width="100" async />
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h4>Pandora Dark Theme for Chrome</h4>
                                    <p>
                                        <a href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                            Chrome Web Store Extension
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://chrome.google.com/webstore/detail/pandora-dark-theme/mplhngiggjhdiocehhlkicdebdfidpoh?fbclid=IwAR0JNmfaUUYuUH6xPFiTZDibK3lVykjECAVQv0XEF8KI-6uwqSyostqoQ0I" target="_blank">
                                            <img src="https://lh3.googleusercontent.com/eHN0ahrp0ArwXMsLUb_dSczQUY4BYMVt9Uax-8tEihbVDiY8BuMZR8PjtVKJ4jevX-qapLUQxg=w128-h128-e365" alt="pandora" async />
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <div class="panel">
                        <div class="panel-heading text-center">
                            <h3><span class="glyphicon glyphicon-book"></span> The nutshell</h3>
                        </div>
                        <div class="panel-body">
                            <div class=row>
                                <div class="col-md-3">
                                    <dl>
                                        <dt>
                                            Frameworks
                                        </dt>
                                        <dd>
                                            ASP.NET &amp; .NET Core
                                        </dd>
                                        <dd>
                                            Web API
                                        </dd>
                                        <dd>
                                            Selenium
                                        </dd>
                                        <dd>
                                            Entity Framework
                                        </dd>
                                        <dd>
                                            jQuery
                                        </dd>
                                        <dd>
                                            MS SQL &amp; SSRS
                                        </dd>
                                        <dd>
                                            Angular
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-3">
                                    <dl>
                                        <dt>
                                            Languages
                                        </dt>
                                        <dd>
                                            C#
                                        </dd>
                                        <dd>
                                            HTML &amp; CSS
                                        </dd>
                                        <dd>
                                            TypeScript
                                        </dd>
                                        <dd>
                                            T-SQL
                                        </dd>
                                        <dd>
                                            JavaScript
                                        </dd>
                                        <dd>
                                            PowerShell
                                        </dd>
                                        <dd>
                                            PHP
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-3">
                                    <dl>
                                        <dt>
                                            Platforms &amp; Development Software
                                        </dt>
                                        <dd>
                                            Visual Studio
                                        </dd>
                                        <dd>
                                            Visual Studio Code
                                        </dd>
                                        <dd>
                                            SSMS
                                        </dd>
                                        <dd>
                                            Powershell ISE
                                        </dd>
                                        <dd>
                                            Azure Functions
                                        </dd>
                                        <dd>
                                            Sitecore
                                        </dd>
                                        <dd>
                                            Postman
                                        </dd>
                                        <dd>
                                            Soap UI
                                        </dd>
                                        <dd>
                                            Swagger
                                        </dd>
                                        <dd>
                                            Photoshop
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-3">
                                    <dl>
                                        <dt>
                                            Source Control
                                        </dt>
                                        <dd>
                                            Azure DevOps Git and TFS
                                        </dd>
                                        <dd>
                                            Git &amp; Github
                                        </dd>
                                        <dd>
                                            Tortoise SVN
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- <div class="btn btn-success" id="btnNutshell">
                                See more
                            </div> -->
                            <p id="moreNutshell">
                                My interest in development lives in every layer of the .NET stack. From Web
                                Forms to WPF to MVC, my desire is to create unique and intuitive applications
                                for
                                small business, enterprises and individuals. I am self taught and remain current
                                with industry standards in modern tools, platforms, frameworks and methods.
                                I develop using ASP.NET with C#, Entity Framework, SQL, HTML, CSS, JavaScript
                                and jQuery and dabble with PHP.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-ok"></span> But really...</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                My passion lies in back end development and reaches into the front end where I
                                enjoy creating custom eye catching and intuitive user interfaces.
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> Mobility is key</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                In 2016, over 50% of the use of the web was from mobile devices.
                                It is my firm position that non-responsive applications are the mark of a lazy
                                developer.
                                <br><br>
                                I bootstrap or create custom responsive frameworks for my work.
                                While in the enterprise world, I understand that are justifications for
                                non-responsive sites in large enterprise
                                applications, however, I see this need as a dying flame.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-left">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-saved"></span> I've got your back</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                While my products looks pretty and function well, I never treat application
                                security as an afterthought. I always place a very
                                large emphasis on keeping data safe.
                                <br><br>
                                I use security
                                frameworks that are mature and have been tested over time.
                                I most enjoy using the .NET Identity Framework as it is versatile, supports
                                Single Sign On and is extensible and customizable.
                            </p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-list"></span> Variety is the spice of life</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                My dream job, though, is working for a small consulting company that provides
                                web development services for many businesses.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-left">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3><span class="glyphicon glyphicon-eye-open"></span> Dream big</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                If I never had to work another day in my life, I'd spend my time writing web
                                applications that enable sharing research for research scientists and mathematicians. We
                                open source code,
                                why not all other technical knowledge!?
                                <br><br>I'd also like to construct a social network exclusivley where veterans can
                                interact and keep their stories for posterity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>